
Brutus ten
Build <img src="/wp-content/uploads/new_brutus_with_drop_shaddow.png" alt="" class="aligncenter">
<img src="/wp-content/uploads/November_07.png" alt="" class="aligncenter">

A special re-print from the November 2007 
issue of Brew Your Own.
by Lonnie McAllister
Brutus Ten Materials List 
		Part NumberVendor				QTY		Unit Cost	Total 
Silicone Tubing	H985		MoreBeer!			35		$2.10 		$73.50 
14 Gal Kettles	7372		Northern Brewer		3		$145.00 	$435.00 
1⁄2” SS Valves	P029		Northern Brewer		5		$16.00 		$80.00 
SS 1⁄2” CouplingsP025		Northern Brewer		8		$5.25 		$42.00 
H315 March Pump H315		MoreBeer!			2		$129.00 	$258.00 
Love Temp ControllerEW-93520-00	Cole Parmer			2		$49.00 		$98.00 
Burners		H209		MoreBeer!			3		$39.50 		$118.50 
Low Pressure RegulatorH212A		MoreBeer!			1		$38.00 		$38.00 
Stainless for Brewstand, 
2” X 2” X .120” wall (40ft)	Great Western Metals		1		$300.00 	$300.00 
SS 90 Deg fittings		Northern Brewer		3		$4.50 		$13.50 
Stainless False BottomH101		MoreBeer!			2		$55.00 		$110.00 
Brass Ball Valve - GasH220 		MoreBeer!			5		$6.50 		$32.50 
Thermowell	FE612 		MoreBeer!			2		$19.50 		$39.00 
ASCO Valve, (SS) #SC8210G37 	Ebay				2		$57.00 		$114.00 
Switches	7343K712 	McMaster Carr			1		$56.00 		$56.00 
SS Tee Fittings	H621 		MoreBeer!			3		$4.50 		$13.50 
Leveling Tubes / SS Sheet, 304 grade 
.120” X 12” X 24”60945K31 	McMaster Carr			1		$71.92 		$71.92 
Casters		3BP4X 		Caster City			4		$12.00 		$48.00 
Textured Stainless Sheet, 
0.024” X 12” X 24”9077K123 	McMaster Carr			1		$56.00 		$56.00 
SS Nipples / GasP024		McMaster Carr			1		$54.00 		$54.00 
Zymico Temp Gauges		Ebay 				4		$17.00 		$68.00 
Misc fittings and gas flex gas linesLowes				1		$120.00 	$120.00 
Stainless pipe for gas nipples	McMaster Carr			1		$53.00 		$53.00 
																									Total	$2,292.42
1  BREW YOUR OWN: BUILD BRUTUS TEN BREWING SYSTEM
BUILD BRUTUS TEN BREWING SYSTEM: BYO.COM  2<img src="/wp-content/uploads/DSC05939.png" alt="" class="aligncenter">

s
See my cool brewery? I call it Brutus Ten. If you’d like one just like it, I have just one thing to say — build your own! Heck, I’ll even show you how. 
Brutus Ten is a 10-gallon (38-L), single-tier brewery situated on a stainless steel frame. The temperature of the hot liquor tank and mash tun are maintained automatically by two temperature controllers. Other aspects of the brewery, such as turning the pumps on and off are done manually. If you know how to weld and have some basic electrical skills, you can make your Brutus Ten for under $2,500. 
You don’t need a ton of space to do this. I built Brutus on my living room carpet and my small 6’ X 8’ apartment patio. The raw stainless steel alone stretched across the threshold, from the dining room to the patio door. I hooked up a 220-volt welder to the dryer outlet. During the daytime, no one knew that, beneath the blinding flashes illuminating the whole complex, lay the birth and free-will-victory that is now Brutus Ten. 
From Brisbane to Anchorage to Baghdad to Choupiqué, other Brutus systems are popping up everywhere. It humbles me to see that others are building their versions of Brutus. Here’s how to build yours.  <img src="/wp-content/uploads/cutlist.png" alt="" class="aligncenter">

Specifications
Mash: Direct-fired mash 
(Recirculation heat)
Controls: 2 each ASCO Red Hat <br>stainless 1⁄2” NPT solenoid valves 
(Model SC8210G37)
Temp Control: 2 each LOVE TS <br>temperature switches 
(Cole-Parmer EW-93520-00)
Fire: 3 each 100,000 BTU low pressure burners and low pressure regulators
Material: 2” X 2” X 0.120” wall 
304 stainless steel
Weight: 210 lbs. (95 kg) dry, everything ready to roll
Fluid Dynamics: 2 each March pumps — high temperature polysulphone
Boil Capacity: 13.5 gallons (51 L)
Mash Tun Capacity: 33 lbs. (15 kg)
Finish Volume: 11 gallons (42 L)
Voltage: 110V
Planning
You know with a full keg and an enthusiastic welding pal, you can pave your way to your own version of your brewing vision. I am a tinkerer, a quasi-welder, a semi-electrician, a hydraulics-smithmen and though my very first real mash was sparged with a plastic bucket affixed to the roof of my rickety house seven years ago, even then I knew that it wouldn’t stop there. Though my plans for anything usually reside in my head, I first crafted Brutus Ten in a 3D CAD environment down to the last bolt. There is nothing like a visual before cutting begins. I probably spent more time in CAD than the actual build, but this method of calculation and foresight gave me time to really think of my brewing wants. Everyone needs a good plan and of course mine didn’t re-invent the wheel, but there are a few innovative features that Brutus sports. If only born from necessity, they insure a great consistent brewing day. With total consistency, I can make the same great beer over and over. Likewise with the bad! I found that once I had a plan, the hardest part really was procuring all the items that I needed for the build. This was quite a task of looking, finding, ordering etc. A lot of footwork went into the small list of up-front items purchased, but it all came together in the end!
Design 
For the central design phase, I kept in mind brewing space limitations; I envisioned a small foot-print device, yet a traveling brewery for the occasional Mashtronaut brew-in. (The Mashtronauts are my Houston area homebrew club.) This brewery would be an all-in-one crescendo of semi-mechanized automation, yet again still leaving the fun in our brewday. It would be mobile and docile, maintain its gorgeous looks and yield great beer without the hassles of carboys, iodophor, or other means of cold sterilization. The first design task would be the only automation I would care to fit into any brewing scheme  — temperature control!
It’s All About Control!
Mash and sparge temperature control, as important as it is, is taken care of with a most simple device; ASCO Red Hat solenoid valves under each the mash tun and the HLT. These handy little gadgets are nothing more than fancy switches. Built on stone-age principals, the ASCO gas valve requires only one simple thing; something to tell it when to open, allowing the gas to flow to the burner. Likewise, when a signal  tells it to close, it shuts off the gas flow. The signaling is accomplished with the dynamic little LOVE TS switches; my  favorite feature-packed temperature controller. The LOVE TS switch is  simple in its operation. It opens, allowing power to flow to the ASCO valve, and turns off when the set temperature is reached as sensed by its temperature probe, just like a Ranco or Johnson controller would do. These little devices cost about the same, and have a ton of features crammed into its little stout frame. To get this setup to work, there needs be to one constant; a pilot light! I should say first that with any pilot light system, attentive brewing is in order. Truly, we wouldn’t want to brew up more than just beer! Barring an expensive auto pilot system, I chose to use gas flame pilot lights under the mash and the hot liquor tank (HLT) pots. The pilots themselves consist of a small brass square sided plug with a small hole drilled into each flat. The low pressure burners have provisions for a plug of this sort. The theory is, as the wind is blowing on that brew-out, this little pilot will dance like Olivia Newton-John in Grease! It hasn’t failed me to this day.  
The Stand 
We should start at the roots of Brutus, so let’s back up a bit. In regards to the sculpture itself, stainless offers so many more attributes than other materials might. Plain steel is easy to work with too, and will work just as well structurally, but for aesthetics, longevity and just plain bliss, stainless steel is our best friend. Aluminum on the other hand would be out of the question as the heat generated from the low pressure burners, coupled with the possibility of upwards of 300 lbs.. (136 kg) of hot liquids may very well approach the yielding point of the aluminum structure itself. Also as in any single-tier sculpture with the extremely hot upper surface, aluminum would rapidly conduct the heat throughout the entire frame. As is, the very top surface of Brutus maintains a great guard from heat transfer without worry of melting the rest of Brutus, but even still, I have learned what the surface of the Sun feels like a time or two! Purchasing the raw metal was not hard at all. Most local steel companies will be happy to deal with us one-timers and will order and cut if necessary. Without a doubt, stainless prices are very high at this time. But this was no deterrent for my dream brewery. It will look this way when I pass it on to my sons! Now let’s get down to business!
Cut List for Stainless 
You will need to cut four each 48” rails, four each 28” legs and ten each 12” cross beams. These can all be cut from the two 20-foot 2” X 2” X 0.120” stainless tubes — or better yet, have your local steel yard cut these beams exactly in half; it is much easier getting four 10’ sticks to your shop than two 20’. Save all the scrap from cutting. You will need these stainless droppings to learn how to weld, and for the control panel and the pump mount at the end of the project.
Drilling the Holes
There are many wire chase holes inside the joints in this project as all of the wiring runs inside the tubing. These holes allow the wiring to run down the rails, up the legs, across the cross beams, etc. This is not a necessity, but makes for a very clean wiring installation with the wiring hidden in the lower front rail. Remember NO wiring can run through the gas beam or the upper surface as it gets VERY hot! Unless you are using an automated gas system, employing the ASCO valves and LOVE switches, you may not need wiring chase holes at the joints and exit holes at various locations. Simply affix all wiring to the outside of the tubes. 
The factors that matter in drilling stainless by hand or any other method are time, pressure, control, lubricant, time and, of course . . . a Unibit step drill! In any case as we know, it is a very slow methodical forearm pain, but purchasing an ingenious little Unibit will be the best investment you can make for your arms. For my application, there are a lot of 3⁄4” holes to drill as well as 1⁄2” holes for the switches in the control panel. I made short work of this by using the Unibit, or “step” bit as they are also called. These are easy to find, and invaluable in any project of this size that has 17 holes drilled by hand in 1⁄8” stainless. The trick to saving energy and saving your Unibit is to use a quality stainless cutting oil. Let the tool do its job while you save your back and elbow. 
Let’s Weld! 
After cutting your steel, it is time to find a VERY level place to perform your welding. Keeping everything level is the key to any great project. Remember that each cut should be as dead square as you can possibly keep it, free of burrs, oil, chips and such. Any deformities will show through in your welding as a flaw, and in general, you will be working with this tubing for quite a while. It is best to keep things very clean. Enjoy the cleaning process, and have a homebrew handy!
I am assuming you will be welding the frame yourself; nothing is more rewarding. I learned how to MIG weld using my new Hobart 180 and a few Brutus cuttings before the task of putting real wire to metal even began. I studied great Internet   boards like hobartwelders.com/mboard/ beforehand. I read everything I could just like I did when it was my very first all-grain brew day. By following the simple instructions on the welder door itself, it was nothing at all to lay down a great weld with a small amount of time, patience and practice. I would say that if you wanted to tackle the task of welding up your own rig then go for it; it is a most rewarding combination of learning a new craft, and then reaping the brewing rewards. The new welders today are much lower in amperage. Most all the hobby Metal Inert Gas (MIG)  welders can easily and safely run on house current as they are meant to do. It did cost much more to purchase a good welding unit, especially one that would tackle this 1⁄8” stainless tubing. I also purchased several other items required to weld stainless. A gas bottle of 100% argon and regulator, a welding hood (actually two, one for my helper as well), gloves for everyone, plenty of 308 welding wire, spare tips and so on. All the welding items needed will become very apparent with a little knowledge of the welding process.
With the exception of the gas beam that you will fully weld and pressure test up front, you are going to tack weld this entire frame together (see page 7). Tack welds are very easy to remove, if necessary, with a grinder. You can also move things around with a rubber mallet to get things square as tack welds are very small welds intended simply to barely hold things together. I would concentrate on keeping everything square up front on this project, and keep your angle grinder very handy! You will need a good framing square, plenty of clamps, or in my case, I used the little 1” ratchet straps that you can buy at any Wally World. Clamp and tack weld as necessary. Once the frame is strong enough to stand up on its own, stand it up! Keep everything VERY square and then re-square again if necessary. If need be, the ratchet straps are great for helping to keep a square day with Brutus. You can strap two opposing legs at a diagonal and ratchet the frame into position. Once the frame is standing on its own free will, you can apply more small tacks as you see fit. Make the whole frame square and make the whole frame strong before final weld-out. Welding is funny that way. Welding moves metal. It moves a lot. This is where good strong tack welding and the ratchet straps come in handy. As with any good project, the final product will only be as good as the hard work up front.
Full Weld-out
Weld the frame fully only when all of your up-front preparations are complete. You should have the gas beam fully welded and everything else completely and strongly tacked in place, keeping everything square. Weld every joint 100%. I started at the face of the frame and welded all the front joints. Then I flipped it over and started again on the back. I went back and forth, top to bottom, side to side until every joint was complete. The idea is to not let any one area of the frame to get too much heat at one time. This is where metal moves. If you start at one end and systematically move to the other, the frame will be impossible to keep square in the end. Hot metal will move that much due to the very heat of the welding process itself. After welding, I elected to grind flush the welds on the top of the frame. I didn’t want to drag my nice brewing pots over these welds and scratch the bottoms. I also decided to grind flush the welds on the front of the frame as well to look great. I used an angle grinder with 40 grit paper to knock them down first, then I polished them off with a little air powered angle grinder and some 80 grit sanding wheels. After the whole weld job was complete, I took an orbital sander to the whole frame with some 120 grit sand paper. This gave the whole frame a very professional and finished look. With all the welding complete, it is time to turn to other tasks. 
The Pumps 
The pumps are mounted directly to the frame by way of drilling and taping the holes, and bolting the pumps in place. As with all single-tier systems, fluid dynamics make brewing possible without all the heavy lifting, and a well laid out fluid scheme can make a great brew day in any case. Brutus has a lot going for it in this regard; two March pumps are no exception to the rule. Each pump is controlled with its own master power switch at the control panel, and is operated manually. Coupling these with the high temperature silicone hoses, quick disconnects at every possible location, and you will never return to vinyl! 
The real art I think are the returns that are affixed to the lids instead of welded fittings at the top edge of each pot. Fittings at the top edge of each pot require hose changes in the midst of high temperature brewing. Having all the returns in the lids only requires moving the lids about from pot to pot. These bulkhead fittings are most simple to install into the lids and are widely available. 
For the return tubes themselves, a curved piece of copper is affixed to these bulkhead fittings, and when the lid is installed onto the pot, the copper tube is actually touching the inside side of the pot. These tubes are simply a means to return the scorching wort, the freezing chill water or sparge water to their respective pots. These returns can be used to set up a whirlpool in the kettle, sparge as I do or return the hot wort to the kettle as I do during the sparge. (See pages 10 and 11 for a summary of my brewday procedures.)
Electrical
Electrification! You know really way down inside, we all want to plug something in. There are six electrified elements on Brutus. Basically the control panel is made up of two control sections: Mash section (middle pot) and the HLT section (right pot); each is wired from a main power bus. There is one ASCO gas valve, a LOVE temperature switch and a March pump for each half of the control panel. It takes two of everything to keep things moving from the sparge to the mash, from the mash to the kettle, cooling, whirlpooling, etc. Wiring Brutus was relatively easy as everything is basically a simple switch allowing one component to turn on and power up another; a master switch at each device ensures a systematic brew day. Though the temperature of the sparge water and the mash are fully controlled by the LOVE set points, the pumps themselves and the kettle burner are fully manual. As with any electrified brewing gadget, safety is in order. Always power up through a GFCI outlet. Another safety note: as built, the wiring is exposed under the panel. Enclosing the electronics in a NEMA 12 enclosure guards against direct contact and liquid splashes.
Fire!
The three 100,000 BTU low pressure burners are fed by way of what I like to call a gas beam. This gas beam is the lower rear support and has to be welded air-tight to be safe to use. Stainless fittings are welded to this beam and from these fittings; the low pressure burners are attached. This gas beam is really nothing more than a fancy gas pipe! The gas beam is pressurized from the tank to only 0.4 PSI by way of a low pressure regulator from MoreBeer! This is required when using the low pressure burners like this system employs. This beam has three 1⁄2” NPT Full couplings welded onto the top of its centerline and one 1⁄2” NPT Full coupling on the bottom. These couplings have the gas plumbing attached to it and support the burners. The bottom (fourth) coupling is the throughput from the low pressure regulator attached to the propane tank. I found it very important to weld the gas beam fully at this point so I could be assured that I would have no leaks in the end. It is also important to pressure test this beam at 1 or 2 PSI using your Argon, or CO2 from your bar and soap it up good. It is critical every leak be repaired at this stage for your safety. A simpler alternative to this gas beam is to use tubing and compression fittings running behind the beam to deliver gas. 
Chilling
When the time comes to chill out, I wanted an all-in-one unit, small and something that would knock down this Texas heat. I wanted a mountable unit, gorgeous looks and something that I didn’t have to pick up and put in my wort. Again, I wanted an all-in-one brewery. The Therminator — a plate chiller — fits the bill perfectly and sits cozy in its little nook. 
As with any Texas rig, ice is your friend. I have a great method for the chill using the HLT as an ice chilling tank recirculating the chill water through the cold site of the Therminator and back to the HLT, while recirculating the hot wort through the hot side and back to the kettle! Want to knock a batch back to the Arctic, this method works like a charm! 
Test Run and Brewday!
Nothing will be more peaceful than the day you put flame to Brutus. A first dry-run will only prove that it is already brew-worthy, and you should have brewed real beer instead of a mock water-run! My wife Moonbeam and I have brewed some 50-odd batches to date on Brutus, and with each batch, I am already planning the next! It is still a pleasure to brew even though some elements of an otherwise busy brew day are taken over by automation. I think the tasks that remain are really the tasks that make my brew day enjoyable, and leave me feeling really in control of my medal wall! The diagrams on the last two pages of this article show how I use Brutus, although you of course will develop your own procedures for your own rig. My website, www.alenuts.com, has more more pictures of the build, and photos of Brutus in action. If you build a Brutus of your own, send BYO a picture!
Lonnie McAllister is an aircraft engineer in Houston, Texas and host of the brewing podcast Alenuts (found at www.alenuts.com). 
Two 20’ lengths or four 10’ lengths of 2” X 2” X 0.120”-wall 304 stainless steel provides the material for the frame, with some scrap left over. You will need four long rails (48”), four legs (28”) and ten cross beams (12”). The diagram above shows one way to make the cuts required to yield the frame pieces. Measurements in the above diagram are given in inches. <img src="/wp-content/uploads/back.png" alt="" class="aligncenter">

3  BREW YOUR OWN: BUILD BRUTUS TEN BREWING SYSTEM
BUILD BRUTUS TEN BREWING SYSTEM: BYO.COM  4<img src="/wp-content/uploads/rearframe.png" alt="" class="aligncenter">

The lower beam on the back of the frame is the “gas beam,” which distributes low pressure gas to Brutus’s burners. Four 1⁄2” NPT Full couplings are welded on the bottom of the beam. The gas beam must be welded airtight and tested. A simpler design, that skips the somewhat difficult welding required for this, would be to construct the gas system from tubing and compression fittings and have it run behind the beam. <img src="/wp-content/uploads/top.png" alt="" class="aligncenter">
<img src="/wp-content/uploads/sides.png" alt="" class="aligncenter">
<img src="/wp-content/uploads/bottom.png" alt="" class="aligncenter">

The dimensions for the back of the frame can be found on page 3. The front of the frame is the same as the back, except that the lower beam is not a gas beam. The top, bottom and side views shown here complete the information required to assemble the frame. 
    Before welding, you need to decide where your wiring will go. The simplest solution is to run your wiring along the outside of the frame. However, you may wish to hide the wiring inside the beams of the frame. This will require the drilling of several chase holes. If you chose this option, decide what electronics you will have onboard the frame and drill the holes before welding the frame.  <img src="/wp-content/uploads/DSC04561.png" alt="" class="aligncenter">
<img src="/wp-content/uploads/DSC04576.png" alt="" class="aligncenter">
<img src="/wp-content/uploads/DSC04670.png" alt="" class="aligncenter">

Keep everything square as you assemble the frame. Clamping sub-assemblies as you go will help. Start with the back of the frame, then add the cross beams. Begin by tack welding frame pieces in place, then fully weld the frame when everything is squared away. Welds can be ground down for a better appearance. 
5  BREW YOUR OWN: BUILD BRUTUS TEN BREWING SYSTEM
BUILD BRUTUS TEN BREWING SYSTEM: BYO.COM  6<img src="/wp-content/uploads/lovewiring.png" alt="" class="aligncenter">

Pilot light is lit throughout the whole brewday. ASCO valve only comes on when the LOVE switch tells it to open. It closes when the LOVE Switch tells it to close. System shown energized and open.
TYPICAL LOVE SWITCH WIRING
LOVE Probe
Pilot
Burner
ASCO Valve
Gas Supply
LOVE Switch
Neutral Wire (White)
Wire Nuts<img src="/wp-content/uploads/pilot.png" alt="" class="aligncenter">

Burner Tips
Gas flex line
Burner Cross Section
Jumper Wire
PILOT DETAIL CROSS SECTION
Threaded boss (part of burner)
Weld on coupling
Pilot Gas Valve
Burner Gas Valve
HOT Wire
4 sided brass plug threaded into boss on burner (drill 1 small hole in each flat of plug)
Lower 2”x2” Beam
ASCO Valve
90 Deg Fitting
SS Tee welded onto 
lower rear beam
Gas flex line to propane tank
Low pressure regulator
Wires to LOVE controller 
panel (see detail sheet)<img src="/wp-content/uploads/controlpanel.png" alt="" class="aligncenter">

As built, the wiring underneath the panel is exposed and there is a potential for the brewer to accidentally reach behind the panel or for water from the nearby HLT to come in contact with the wires, causing an electrical shock hazard. Enclosing the electronics in a NEMA 12 enclosure would guard against direct contact and small splashes of liquid. <img src="/wp-content/uploads/bracket.png" alt="" class="aligncenter">

7  BREW YOUR OWN: BUILD BRUTUS TEN BREWING SYSTEM
BUILD BRUTUS TEN BREWING SYSTEM: BYO.COM  8<img src="/wp-content/uploads/wiring.png" alt="" class="aligncenter">

BASIC WIRING DETAIL
Hot Bus
Switches
Control Panel
Neutral Bus
Ground Bus
Plug
Turn to pages 10 and 11 for a rundown of how to use Brutus for a recirculation 
mash, sparge, chilling and fermentation.<img src="/wp-content/uploads/DSC04953.png" alt="" class="aligncenter">
<img src="/wp-content/uploads/DSC04937.png" alt="" class="aligncenter">

9  BREW YOUR OWN: BUILD BRUTUS TEN BREWING SYSTEM
A close up of one of the burners and associated plumbing. The flexible yellow line leads to the pilot light for that burner. The hard piping is opened and closed by the ASCO switch. See page 6 for a diagram of the assembly. 
The completed frame, resting on locking casters. This makes it easy to take Brutus “on the road.” After this picture was taken, a plate chiller was attached on the lower front beam, on the side opposite the control panel. (See the picture on the front cover.) Note that the burner under the kettle position is manually controlled and lacks the ASCO switch and plumbing of the other two burners. Utilizing a “gas beam” and hiding the wiring in Brutus’s frame gives the rig a clean, uncluttered look, but gas lines could be run outside as well. <img src="/wp-content/uploads/shield.png" alt="" class="aligncenter">

The two pumps are attached to the front center post (and a 5” piece of frame material welded directly behind the post). Mark the location of the holes for the pump mounting bolts and drill the holes before assembling the frame. The overhead shield guards against spills.   
BUILD BRUTUS TEN BREWING SYSTEM: BYO.COM  10
using brutus: hot side<img src="/wp-content/uploads/sparge.png" alt="" class="aligncenter">

Wort<img src="/wp-content/uploads/mash.png" alt="" class="aligncenter">

Sparge: After mash-out and flow rates matched, i.e. the rate in the mash tun flowing VERY slowly back to itself, and the rate in the HLT flowing VERY slowly back to itself, you can simply begin sparging by moving the lid from the mash tun to the kettle and the lid from the HLT to the mash tun.
Recirculation Mash: After dough-in, a very slow recirculation is set up using the pump on the left. Mash heat is maintained with the temperature controller set at the desired mash temperature. This will control the ASCO valve. Very low flame should be used during the recirculation phase to avoid scorching of the wort. Utilizing a full false bottom is imperative during heat recirculation. The HLT can be heated to the desired sparge temperature during the mash, and its flow set to the desired sparge flow rate. This will ensure that things are ready to go for sparge.
KETTLE
SPARGE:
KETTLE
Pump 2
MASH TUN
Pump 1
HLT
MASH:
Pump 2
MASH TUN
Returns
Returns
Pump 1
HLT
HLT heated to 175 °F
HLT heated to 175 °F
11  BREW YOUR OWN: BUILD BRUTUS TEN BREWING SYSTEM<img src="/wp-content/uploads/chill.png" alt="" class="aligncenter">

using brutus: cold side
Wort<img src="/wp-content/uploads/ferment.png" alt="" class="aligncenter">

Chilling: Hook up kettle to Therminator as shown. Using a garden hose, knock the wort temperature down below 110 ° F (43 ° C) The HLT will be filled with 5 gallons of water and four 7 lb. bags of ice beforehand. Remove garden hose and hook the ice tank up to the Therminator as shown. Run pumps wide open to recirculate the hot wort and the ice water through the Therminator. You can easily add more ice and bring your wort all the way down to lager temperatures in no time!
Fermenter! It is the coolest thing! During all of this, I make time to clean out the mash tun. Scrub it well! Then fill it with 3” of water at some point (without the false bottom) and boil it with the lid on. Boil it good! The steam will sterilize everything in its path. Drain it. After cooling the wort simply transfer the chilled wort into the freshly sterilized fermenter! Add yeast and O2 at this point. I then remove this fermenter into my chilling fridge at 62 °F (17 ° C). No more carboys!
CHILL:
FERMENT:
KETTLE
KETTLE
Pump 2
Pump 
2
MASH TUN
MASH TUN
O2 Wand
Pump 
1
Returns
Pump 1
HLT
HLT
Fermenter
Ice Water